<?xml version="1.0"?>
<launch>

    <!--    <param name="process_width" value="222" /> -->

    <node name="processImage" pkg="charlie" type="processImage" output="screen" clear_params="true">
        <param name="process_scale" value="0.25" />
        <param name="show_images" value="True" />
        <param name="use_pid" value="False" />

        <param name="b_lower" value="0" />
        <param name="g_lower" value="120" />
        <param name="r_lower" value="120" />

        <param name="b_upper" value="255" />
        <param name="g_upper" value="255" />
        <param name="r_upper" value="255" />

        <param name="h_lower" value="20" />
        <param name="s_lower" value="220" />
        <param name="v_lower" value="0" />

        <param name="h_upper" value="30" />
        <param name="s_upper" value="255" />
        <param name="v_upper" value="255" />

    </node>
    
  <!--  <node name="controller" pkg="charlie" type="controller_with_gui.py" output="screen" clear_params="true">
        <param name="publishedMqttTopic_navdata" value="/mqtt/navdata"/>
    </node> -->

   <!-- <node name="sonarPublisher" pkg="charlie" type="sonarNode.py" output="screen" clear_params="true">
        <param name="sampleParam" value="none" />
    </node> -->

 <!-- <node name="beeper" pkg="charlie" type="beepNode.py" output="screen" clear_params="true">
      <param name="beepType" value="continuous" />
  </node> -->

  <arg name="name" default="raspicam_node" />

  <!-- Raspicam Node -->
  <!--

  <node type="raspicam_node" pkg="raspicam_node" name="$(arg name)" output="screen">

    <param name="camera_info_url" value="package://$(arg name)/camera_info/camera_module_v2_640x480.yaml"/>
    <param name="width" value="640"/>
    <param name="height" value="480"/>
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="raspicam"/>

  </node>
    -->
  <!--
       <node pkg="rosservice" type="rosservice" name="start_capture" args="call -/-wait $(arg name)/start_capture"/> 
  -->

  <!-- iRobotCreate2 -->

  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -s 100 /home/harshit/catkin_ws/src/create_eyes/logs/intersections/red_intersections.bag"/>


  <arg name="id" default="0"/>
  <arg name="base_name" default="iRobot_"/>
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="publish_name" default="true"/>
<!--
  <node ns="$(arg base_name)$(arg id)" name="irobotdriver" pkg="irobotcreate2" type="irobotcreate2" respawn="false" output="screen">
    <rosparam param="poseCovariance">[1e-2, 0,    0,    0,    0,    0,
                                      0,    1e-2, 0,    0,    0,    0,
                                      0,    0,    1, 0,    0,    0,
                                      0,    0,    0,    1, 0,    0,
                                      0,    0,    0,    0,    1, 0,
                                      0,    0,    0,    0,    0,    1e-1]</rosparam>
    <rosparam param="twistCovariance">[1e-2, 0,    0,    0,    0,    0,
                                      0,    1, 0,    0,    0,    0,
                                      0,    0,    1, 0,    0,    0,
                                      0,    0,    0,    1, 0,    0,
                                      0,    0,    0,    0,    1, 0,
                                      0,    0,    0,    0,    0,    1e-2]</rosparam>

    <param name="port_" value="$(arg port)"/>
    <param name="publish_name_" value="$(arg publish_name)"/>
    <param name="publishTf" value="true"/>
  </node>
-->

</launch>

